@-moz-document domain("flipboard.com") {
/*
* Name:    Flipboard Dark
* Author:  Seanharrs
* Version: v0.1
*/
.navigation-bar .tabs .tab-item, .navigation-bar .tabs, .navigation-bar .search-container, .footer-bar,
.fill, .nav-items, .page-gap, .grid-page, .front-door {
    background-color: #222 !important;
}

.auth-container--modal-view {
    background-color: rgba(30, 30, 30, 0.97) !important;
}

.navigation-bar__login-button, .auth-container--modal-view, .button, .sign-up-pagebox, .sign-up-button,
.text-input, .sign-up-form__show-password-button, .bar .linkitem, .front-door-banner__header,
.front-door-banner__subheader, a, .top-attribution, .excerpt {
    color: #DDD !important;
}

.search-icon g {
    stroke: #F7F7F7 !important;
}

.close-button g {
    fill: #DDD !important
}

.navigation-bar .tabs .tab-item .button--primary {
    color: #000 !important;
}

.button {
    background: #222 !important;
    border: 1px solid #AEAEAE !important;
}

.input-wrapper {
    background: #222 !important;
    border: 1px solid #7C7C7C !important;
}

.form-error {
    color: #D22 !important;
}

.text-input {
    background-color: #2C2C2C !important;
}

.footer-bar .bar {
    border-top: 1px solid #AEAEAE !important;
}

.nav-items {
    color: #888 !important;
    border-bottom: 1px solid #666 !important;
}

.nav-items .selected {
    color: #EEE !important;
}

div.gridline-x, div.gridline-y {
    background-color: #333 !important;
}
}
